<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>MeetupTitle</title>
    <style>
      [v-cloak] {
        opacity: 0;
      }
      .fade-enter-active,
      .fade-leave-active {
        transition: opacity 0.15s ease;
      }
      .fade-enter-from,
      .fade-leave-to {
        opacity: 0;
      }
    </style>
  </head>

  <body>
    <div id="app" v-cloak>
      <div>
        <label v-for="n in 5"><input type="radio" name="meetupId" :value="n" v-model="selectedID" />{{n}}</label>

        <hr />

        <Transition name="fade" appear mode="out-in">
          <h3 :key="meetupTitle">{{meetupTitle}}</h3>
        </Transition>
      </div>
    </div>

    <script type="module" src="./script.js"></script>
  </body>
</html>
